@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
@import url("./root.css");

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none !important;
    box-sizing: border-box;
}

.container-fluid {
    max-width: 1320px;
}

.overflow_hidden {
    overflow: hidden;
}

/* preloder */

.loader_bg{
    z-index: 9;
}

.d_none{
    display: none !important;
}
.pri-style{
    animation: preloder_one 7s infinite;
}

.ff-Plus {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.bg-img {
    background-image: url(../image/hero-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 632px;
    z-index: 0;
}

.mt--173 {
    margin-top: -173px;
}

.transform-img {
    transform: translateY(0px)
}

.nav-back {
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(251, 253, 255, 0.20);
    background: rgba(251, 253, 255, 0.01);
    /* backdrop-filter: blur(16.5px); */
}
.nav-underline::after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 20px;
    background-color: var(--color-white);
    bottom: -10%;
    right: 0;
    transition: all 300ms linear;
}

.nav-underline:hover::after {
    width: 100%;
    left: 0;
}

.lh-126 {
    line-height: 126%;
}

.ls-3 {
    letter-spacing: 3px;
}

.try-btn {
    border-radius: 40px;
    background: linear-gradient(160deg, rgba(0, 136, 255, 0.58) -14.36%,  #0069E3 113.71%);
    box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.50);
    padding: 13px 32px;
    border: none;
    transition: .4s !important;
}
.try-btn:hover{
    background: transparent ;
    outline: 1px solid  #fff ;
    box-shadow: unset !important;
}

.hero-line {
    background-color: var(--Blue, #0389FF);
    width: 109.304px;
    opacity: unset !important;
    height: 2px;
}

.lh-170 {
    line-height: 170%;
}

.lh-140 {
    line-height: 140%;
}

.opacity-7 {
    opacity: 0.7;
}

.demo-btn {
    border-radius: 40px;
    background: linear-gradient(160deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.50);
    padding: 13px 32px;
    border: none;
    transition: .4s;
}
.demo-btn:hover {
    background: transparent ;
    outline: 1px solid  #fff ;
    box-shadow: unset !important;
}


/* herosection */
.myicon {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    border-radius: 12px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(12px);
    padding: 20px 22px;
}

.pig-position {
    position: absolute;
    top: -12%;
    left: -7%;
    z-index: 1;
}

.file-position {
    position: absolute;
    top: 25%;
    left: -10%;
    z-index: 1;
}

.accuracy-position {
    position: absolute;
    top: 8%;
    right: -6%;
    z-index: 1;
}

.time-position {
    position: absolute;
    top: 45%;
    right: 11%;
    z-index: 1;
}

.bg-my {
    mix-blend-mode: color;
    background: #020D15;

}

.myicon {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    border-radius: 12px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(12px);
}

.elipes-1 {
    border-radius: 303.657px;
    opacity: 0.4;
    background: #1673FF;
    filter: blur(100px);
    width: 299.329px;
    height: 303.657px;
    flex-shrink: 0;
    position: absolute;
    bottom: 20%;
    left: -8%;
    z-index: -1;
}

/* In collaboration with */


.black-white {
    filter: grayscale(100%);
    transition: .4s;
}
.black-white:hover{
    filter: unset;
}



/* Compliance Security Trust */

.security {
    max-width: 467.713px;
}

.idox {
    max-width: 515.857px;
}

.watch-btn {
    margin-top: 28px;
    padding: 13px 32px;
    border-radius: 40px;
    background: linear-gradient(175deg, rgba(0, 136, 255, 0.58) 0%, #0069E3 100%);
    box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.50);
    border: none;
    transition: .4s;
}
.watch-btn:hover {
    background: transparent ;
    outline: 1px solid  #fff ;
    box-shadow: unset !important;
}

.ai-img {
    animation: rotation 25s infinite linear;

}

.ai-img:hover {
    animation: unset;

}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* How we can help? */

/* =========accordion========== */
.img_mwh {
    width: 64px;
    height: 64px;
}

.pl-26 {
    padding-left: 26px !important;
}

.mx-370 {
    max-width: 370px !important;
}

.accordion-item {
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    border: none !important;
    border-radius: 10px !important;
    background: rgba(3, 137, 255, 0.12) !important;
    backdrop-filter: blur(12.5px) !important;
    margin-bottom: 10px !important;
}

.opacity-6 {
    opacity: 0.6;
}

.mh-550 {
    min-height: 550px;
}

.mh-590 {
    min-height: 594px;
}

.accordion-body {
    padding: 0px 20px 35px 99px !important;
    margin-top: -35px !important;
}

.mw-370 {
    max-width: 370px;
}

.tranlate-xy {
    transform: translate(14px, 30px);
}

.accordion-button {
    width: 100% !important;
    color: #fbfdff !important;
    transition: all 500ms linear !important;
    padding: 22.5px 0px 23.5px 22.544px !important;
}

.accordion-button:not(.collapsed) {
    padding: 0px 0px 23.5px 22.544px !important;
    /* padding: 0px 15px !important; */
    transition: all 300ms linear !important;
    color: var(--color-light-blue) !important;
}

.accordion-button:not(.collapsed) img {
    display: block !important;
    transform: translateY(23px);
    margin-right: 10px;
    width: 64px;
    height: 64px;
}

.accordion {
    --bs-accordion-bg: none !important;
    --bs-accordion-active-bg: none !important;
    --bs-accordion-border-width: none !important;
    --bs-accordion-btn-focus-border-color: none !important;
    --bs-accordion-btn-focus-box-shadow: none !important;
    --bs-accordion-active-color: #0389ff !important;
    --bs-accordion-active-padding-bottom: 7px !important;
}

.accordion-button:focus {
    border-color: none !important;
}

.accordion-button::after {
    content: unset !important;
}
/* How We Bring Value */

.sec-box {
    display: flex;
    max-width: 400px;
    height: 80px;
    padding: 0px 16px;
    align-items: center;
    gap: 14px;
    border-radius: 10px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(12.5px);
    transition: .4s;
}
.sec-box:hover {
  background-color: #0069e3;
}
.sec-box:hover span svg path{
    fill: white;
}

.bg-circle {
    border-radius: 665.432px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(2, 13, 21, 0.00) 36.98%, rgba(2, 13, 21, 0.30) 61.46%, #020D15 93.75%);
    flex-shrink: 0;
}

/* Testimonials */

.f-stlye {
    font-style: italic;
}

.lh-150 {
    line-height: 150%;
}

.slick-current .slider-card {
    opacity: 1 !important;
}

.mx-834 {
    max-width: 834px;
}

.slider-card {
    border-radius: 20px;
    background: rgba(3, 137, 255, 0.12);
    max-width: 946px;
    height: 253px;
}

.slick-dots {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    bottom: -45px !important;
}

.slick-dots li button:before {
    content: '' !important;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    width: 10px !important;
    height: 10px !important;
    border-radius: 28px;
    background: #E3E4E5 !important;
}

.slick-dots li.slick-active {
    width: 53px !important;
    height: 10px !important;
    border-radius: 28px;
    background: #0389FF !important;
}


.slider-elipes {
    border-radius: 433.455px;
    opacity: 0.3;
    background: #06F;
    filter: blur(100px);
    width: 294.455px;
    height: 300.212px;
    flex-shrink: 0;
    position: absolute;
    top: 6%;
    left: 27%;
}

/* We provide secure solutions */

.learn-btn {
    border-radius: 40px;
    background: linear-gradient(160deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.50);
    padding: 13px 32px;
    border: none;
    transition: .4s;
}
.learn-btn:hover {
    background: transparent ;
    outline: 1px solid  #fff ;
    box-shadow: unset !important;
}

.global {
    max-width: 474px;
}

.elipes2-sec5 {
    border-radius: 395.788px;
    opacity: 0.3;
    background: #06F;
    filter: blur(123.5px);
    width: 381.479px;
    height: 395.788px;
    flex-shrink: 0;
    position: absolute;
    top: 6%;
    left: 19%;
    z-index: -1;
}

.elipes-sec5 {
    border-radius: 433.455px;
    opacity: 0.3;
    background: #06F;
    filter: blur(100px);
    width: 312.455px;
    height: 422.212px;
    flex-shrink: 0;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 0;
}

/* How it works */
.input-card {
    border-radius: 15px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(2px);
    padding: 23.073px 20.519px 20.199px 21.121px;
}

.input-card2 {
    border-radius: 22px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(0, 0, 0, 0.33);
    /* backdrop-filter: blur(31.5px); */
}

.work-card {
    border-radius: 15px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(2px);
    max-width: 231px;
    padding: 23.073px 20.519px 20.199px 21.121px;
}

.arrow1 {
    width: 50px !important;
    height: 30px;
    position: absolute;
    right: -8%;
    top: 38%;
}

.ok-icon {
    position: absolute;
    top: -12px;
    right: -12px;
}

.elipes-2 {
    border-radius: 489.097px;
    opacity: 0.3;
    background: #06F;
    filter: blur(100px);
    width: 489.097px;
    height: 476.411px;
    flex-shrink: 0;
    position: absolute;
    top: 0%;
    right: 2%;
    z-index: -1;
}

.elipes-3 {
    border-radius: 514.912px;
    opacity: 0.3;
    background: #06F;
    filter: blur(123.5px);
    width: 236.912px;
    height: 476.411px;
    flex-shrink: 0;
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: -1;
}

.elipes-sec6 {
    border-radius: 362.394px;
    opacity: 0.3;
    background: #06F;
    filter: blur(100px);
    width: 362.394px;
    height: 338.572px;
    flex-shrink: 0;
    position: absolute;
    top: 15%;
    left: 34%;
    z-index: -1;
}

.card-scale{
    transition: .4s;
}
.card-scale:hover{
    transform:scale(1.1) ;
}

/* How We Bring Value  */

.elipes-sec3 {
    border-radius: 433.455px;
    opacity: 0.3;
    background: #06F;
    filter: blur(100px);
    width: 433.455px;
    height: 422.212px;
    flex-shrink: 0;
    position: absolute;
    top: 37%;
    right: 0%;
    z-index: 1;
}
.img-set{
    margin-top: 0px;
}

.elipes2-sec3 {
    border-radius: 395.788px;
    opacity: 0.3;
    background: #06F;
    filter: blur(123.5px);
    width: 381.479px;
    height: 395.788px;
    flex-shrink: 0;
    position: absolute;
    top: 23%;
    left: 16%;
    z-index: -1;
}

/* Our Integrations */

.border-box1 {
    border-bottom: 1px solid #273139;
}

.border-box2 {
    border-bottom: 1px solid #273139;
}

.border-box3 {
    border-bottom: 1px solid #273139;
}

.border-box4 {
    border-bottom: 1px solid #273139;
}

.border-box5 {
    border-bottom: 1px solid #273139;

}

.border-box6 {
    border-bottom: 1px solid #273139;

}

.border-box7 {
    border-bottom: 1px solid #273139;
}

.border-box8 {
    border-top: 1px solid #273139;
}
.z-30{
    z-index: 30;
}


.line-gray1::after {
    content: '';
    position: absolute;
    top: 6%;
    right: 0%;
    width: 1px;
    height: 341.545px;
    background: #273139;
    z-index: 2;
}

.line-gray2::after {
    content: '';
    position: absolute;
    top: 6%;
    right: 0%;
    width: 1px;
    height: 341.545px;
    background: #273139;
    z-index: 2;
}

.line-gray3::after {
    content: '';
    position: absolute;
    top: 6%;
    right: 0%;
    width: 1px;
    height: 341.545px;
    background: #273139;
    z-index: 2;
}

.line-gray-botttom::after {
    content: '';
    position: absolute;
    bottom: -4%;
    right: -3%;
    width: 1300.165px;
    height: 1px;
    background: #273139;
    z-index: 2;
}

.elipes-sec7 {
    border-radius: 416.224px;
    opacity: 0.3;
    background: #06F;
    filter: blur(100px);
    width: 416.224px;
    height: 405.428px;
    flex-shrink: 0;
    position: absolute;
    top: 25%;
    left: -9%;
    z-index: -1;
}

/* Accelerate Your Enterprise’s */
.elipes-sec8 {
    border-radius: 395.788px;
    opacity: 0.3;
    background: #06F;
    filter: blur(123.5px);
    width: 381.479px;
    height: 395.788px;
    flex-shrink: 0;
    position: absolute;
    top: 4%;
    right: 10%;
    z-index: -1;
}


/* choose the plan best fits for you */

.position-linecol-4-1::after {
    content: '';
    position: absolute;
    top: 7%;
    right: 2%;
    width: 1px;
    height: 502px;
    background: #273139;
    z-index: 2;
}

.position-linecol-4-2::after {
    content: '';
    position: absolute;
    top: 7%;
    right: 2%;
    width: 1px;
    height: 502px;
    background: #273139;
    z-index: 2;
}

.position-linecol-4-3::after {
    content: '';
    position: absolute;
    bottom: 70%;
    right: 0%;
    width: 1300px;
    height: 1px;
    background: #273139;
    z-index: 2;
}

.select-btn {
    padding: 13px 32px;
    gap: 8px;
    border-radius: 40px;
    background-color: #020D15;
    border: 1px solid var(--color-light-purple);
    transition: .4s;
}


.shadowimg-1-secton8 {
    border-radius: 416.224px;
opacity: 0.3;
background: #06F;
filter: blur(100px);
width: 416.224px;
height: 405.428px;
flex-shrink: 0;
    position: absolute;
    top: -25%;
    left: 0%;
    z-index: -1;
}

.shadowimg-2-secton8 {
    border-radius: 537.685px;
opacity: 0.3;
background: #06F;
filter: blur(100px);
width: 537.685px;
height: 156.418px;
flex-shrink: 0;
    position: absolute;
    top: 26%;
    left: 30%;
    z-index: -1;
}

.sec-card-color:hover .change-color {
    color: var(--color-light-blue);
}

.sec-card-color:hover .select-btn {
    color: var(--color-white);
    background-color: var(--color-light-blue);
    border: 1px solid #0069E3;
}

/* Get started today! */

.bg-sec {
    background-image: url(../image/bg-sec-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.shadow-img {
    position: absolute;
    top: -3px;
}

.input-box {
    max-width: 520px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    padding: 1px 0px 1px 25.713px;
    border-radius: 29px;
    background: rgba(251, 253, 255, 0.07);
}

.now-btn {
    display: flex;
    padding: 13px 22px;
    gap: 8px;
    border-radius: 40px;
    white-space: nowrap;
    background: linear-gradient(175deg, rgba(0, 136, 255, 0.58) 0%, #0069e3 100%);
    box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.5);
    transition: .4s;
}

.now-btn:hover { 
    background: transparent ;
    outline: 1px solid  #fff ;
    box-shadow: unset !important;
}

.input {
    max-width: 400px;
    border-color: rgba(251, 253, 255, 0.07);
    background-color: transparent;
    border: unset;
    width: 100%;
    outline: none;
    margin-right: 15px;
}


.mx-617 {
    max-width: 617px;
}


.securitys {
    max-width: 525.868px;
}



section {
    z-index: 1;
}

button {
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.50);
}

p {
    margin-bottom: 0 !important;
}

.system {
    max-width: 225px;
}

.footer-bg-color {
    background: rgba(3, 137, 255, 0.08);
    padding-top: 35px;
}

.footer-para {
    max-width: 225px;
    opacity: 0.6;
    margin-top: 19px;
}

.gap-10 {
    gap: 10px;
}

.footer-svg {
    filter: brightness(0.5);
    transition: all 300ms linear;
}

.footer-svg:hover {
    filter: brightness(10);
    transform: translateY(-10px) scale(.90);
}

.pb-95 {
    padding-bottom: unset;
}

footer li {
    line-height: normal;
}

.footer-line {
    width: 100%;
    border: 1px solid #fff;
    margin: 0 !important;
}

.footer-bottom-line {
    opacity: 0.5;
    padding-top: 27px;
    padding-bottom: 27px;
}

.container-custom4 {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.footer-underline {
    position: relative;
    transition: all 300ms linear;
}

.footer-underline:hover {
    color: var(--color-white);
}

.footer-underline::after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 20px;
    background-color: var(--color-white);
    bottom: -10%;
    right: 0;
    transition: all 300ms linear;
}

.footer-underline:hover::after {
    width: 100%;
    left: 0;
}

/* backtotop */
.backto-top {
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: none;
}

.z-5 {
    z-index: 5;
}

.disply_none {
    display: none;
}

.disply_block {
    display: block;
}


.backtocircle {
    fill: var(--Orange, #FF5300);
    filter: drop-shadow(4px 5px 15px rgba(255, 83, 0, 0.40));
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.box:hover {
    transform: scale(1);
    background-color: var(--color-bg);
}



footer ul li a:hover {

    animation: shake 2s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes logo {
    0% {
        position: absolute;
        top: -50%;
    }

    50% {
        position: absolute;
        top: 50%
    }

    50% {
        position: absolute;
        top: 80%
    }
}

@keyframes preloder_one {
    0% {
        transform: scale(1.1);
    }

    15% {
        transform: scale(0.9);
    }

    30% {
        transform: scale(1.2);
    }

    45% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.3);
    }

    75% {
        transform: scale(0.9);
    }

    90% {
        transform: scale(1.3);
    }
}

@keyframes pulsegardiant {
    0% {
        box-shadow: 0 0 var(--orange);
    }
}



@media (max-width: 991.9px) {
    .mobile-view {
        position: absolute;
        background-color: #020D15;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
        max-width: 500px;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 300ms linear;
        z-index: 3;
    }

    .z-5 {
        z-index: 5;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .menu span:nth-child(1) {
        height: 3px;
        width: 30px;
        background-color: #fff;
        display: block;
        border-radius: 20px;
    }

    .menu span:nth-child(2) {
        height: 3px;
        width: 30px;
        background-color: #fff;
        display: block;
        border-radius: 20px;
    }

    .menu span:nth-child(3) {
        height: 3px;
        width: 30px;
        background-color: #fff;
        display: block;
        border-radius: 20px;
    }

    .menu span {
        transition: 300ms linear;
    }

    .cross span:nth-child(1) {
        transform: rotate(42deg) translateY(15px);
        transition: 300ms linear;
        background-color: var(--color-dark-blue3);
        width: 30px;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 300ms linear;
    }

    .cross span:nth-child(3) {
        transform: rotate(-43deg) translateY(-13px);
        transition: 300ms linear;
        background-color: var(--color-dark-blue3);
        width: 30px;
    }

    ol,
    ul {
        padding-left: 0 !important;
    }
}
@media (min-width:576px) {

    .border-box1 {
        border-right: 1px solid #273139;
        border-bottom: 1px solid #273139;
    }

    .border-box2 {
        border-bottom: 1px solid #273139;
        border-left: 1px solid #273139;
    }

    .border-box3 {
        border-right: 1px solid #273139;
        border-bottom: 1px solid #273139;
    }

    .border-box4 {
        border-bottom: 1px solid #273139;
    }

    .border-box5 {
        border-right: 1px solid #273139;
        border-bottom: 1px solid #273139;
    }

    .border-box6 {
        border-bottom: 1px solid #273139;
    }

    .border-box7 {
        border-right: 1px solid #273139;
        border-bottom: transparent;
    }

    .accordion-button {
        color: #fbfdff !important;
        transition: all 500ms linear !important;
        padding: 22.5px 272.456px 23.5px 25.544px !important;
        width: 100% !important;
    }
    .accordion-item{
        width: 531px;
    }

}

@media (min-width:768px) {
    .mt--173 {
        margin-top: -100px;
    }

    .myicon {
        width: 211px;
        display: inline-flex;
        align-items: center;
        gap: 20px;
        border-radius: 12px;
        background: rgba(3, 137, 255, 0.12);
        backdrop-filter: blur(12px);
    }

    .light-1 {
        position: absolute;
        width: 400px;
        height: 400px;
        bottom: 5%;
        left: 0%;
    }

    .border-box1 {
        border-right: 1px solid #273139;
    }

    .border-box2 {
        border-right: 1px solid #273139;
    }

    .border-box3 {
        border-bottom: 1px solid #273139;
        border-right: transparent;
    }

    .border-box4 {
        border-right: 1px solid #273139;
    }

    .border-box8 {
        border-right: 1px solid #273139;
    }

    .border-box5 {
        border-right: 1px solid #273139;
    }

    .border-box6 {
        border-bottom: 1px solid #273139;
    }

    .border-box7 {
        border-bottom: transparent;
    }

    .bg-circle {
        border-radius: 665.432px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(2, 13, 21, 0.00) 36.98%, rgba(2, 13, 21, 0.30) 61.46%, #020D15 93.75%);
        width: 645.282px;
        height: 665.432px;
        flex-shrink: 0;
    }

    .transform-img {
        transform: translateY(-60px)
    }
    .img-set{
        margin-top: -63px;
    }
    .accordion-body{
        padding: 0px 20px 35px 99px;
    }
    .accordion-item{
        width: 370px;
    }
}

@media (min-width:992px) {
    #menu {
        display: none;
    }

    .border-box1 {
        border-bottom: 1px solid #273139;
        border-right: 1px solid #273139;

    }

    .border-box2 {
        border-bottom: 1px solid #273139;
        border-right: 1px solid #273139;
    }

    .border-box3 {
        border-bottom: 1px solid #273139;
        border-right: 1px solid #273139 !important;
    }

    .border-box4 {
        border-bottom: 1px solid #273139;
        border-right: transparent !important;
    }

    .border-box8 {
        border-bottom: transparent;
        border-right: transparent !important;
    }

    .border-box5 {
        border-bottom: transparent;
        border-right: 1px solid #273139;
    }

    .border-box6 {
        border-bottom: transparent !important;
        border-right: 1px solid #273139;
    }

    .border-box7 {
        border-bottom: transparent;
        border-right: 1px solid #273139;
    }

    .img-move {
        transform: translateY(-300px);
    }
    .accordion-item{
        width: 431px;
    }
    .accordion-body{
        padding: 0px 50px 35px 99px  ;
    }

}
@media (max-width:1200px) {

    .position-linecol-4-1::after {
        display: none;
    }

    .position-linecol-4-2::after {
        display: none;
    }

    .position-linecol-4-3::after {
        display: none;
    }

}

    @media (min-width:1200px) { 

        .transform-img {
            transform: translateY(-300px)
        }

        .mt--173 {
            margin-top: 00px;
        }
        .img-set{
            margin-top: -224px;
        }
        .accordion-item{
            width: 531px;
        }

    }
   